body{
    display: flex;
    background-color: white;
    flex-wrap: wrap;
    height: 100%;
}
header {
    flex: auto;
    background-color:white;
    width: 100%; 
}

.nav {
    display: flex;
    justify-content: flex-end;
    width: 100%;
}
.icon img{
    display: flex;
    flex-direction: column;
    margin: 0px;
}
.iconLeft {
    position: absolute;
    left: 5px;
}
.languages{
    display: flex;
    background-color: white;
    width: 70%;

}
.nav li {
    list-style: none;
    margin: auto;
    align-self: flex-end;
    margin: auto;
    flex:1;
    text-align: center;
}

button{
    background-color:#7AB5B7;
    padding: 10px 25px;
    text-align: center;
    border-radius: 2px;    
}
.title {
    display: flex;
    background-color: white;
}
.theTitle{
    display: flex;
    justify-content: center;
    font-family:'Quintessential', cursive;
    font-size: 50px; 
    width: 100%;  
    font-weight: bold;
} 
.theTitle{
    display: flex;
    justify-content: center;
    font-family:'Quintessential', cursive;
    font-size: 50px; 
    width: 100%;  
    font-weight: bold;
} 
.date {
    display: flex;
    list-style: none;
    border-bottom: 1px solid black;
    justify-content: space-between;
}
.date .october {
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    background-color: white;
}
.date .today {
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    background-color: white;

}
hr{
    border: .5px solid black;
}
hr{
    border: .5px solid black;
}

main {
    flex: auto;
    background-color: white;
}
.top{
    display: flex;
    border-bottom: 1px solid black;
    padding: 5px;
} 
.start {
    display: flex;
    background-color: white;
    margin: 5px;
    border-right: 1px solid lightslategray;
}
.start :first-of-type {
    margin-right: 5px;
}
.briefing{
    margin-top: 13px;
    margin-right: 3px;
}
.briefing .subhead{
    font-size: 14px;
    text-align: center;
}
.middle{
    display: flex;
    border-right: 1px solid lightslategray;
    background-color:white;
    margin: 5px;
}
.middle :first-of-type {
    display: flex;
    margin-right: 5px;
}
.Today{
    margin-top: 13px;
    margin-right: 3px;
}
.third{
    display: flex;
    background-color: white;
    margin: 5px;
    border-right: 1px solid lightslategray;
}
.third :first-of-type {
    display: flex;
    margin-right: 5px;
}
.description {
    margin-top: 13px;
    margin-right: 3px;
}
.end{
    display: flex;
    background-color:white;
    margin: 5px;
}
.end :first-of-type {
    display: flex;
    margin-right: 5px;
}
img {
    border-radius: 2px;

}
.story1pic {
    width: 250px;
    height: auto; 
   
}
.story1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: justify;
}
h2{
    font-family: Courgette, cursive;
    font-size: 50px;
    max-width: 45%;
    margin-bottom: 3px;
}
p{
    text-align: center;
    text-align: justify;
    max-width: 45%
}
#more {
    display: none;
}
button {
    background-color:#7AB5B7;
    padding: 10px 25px;
    text-align: center;
}
.story1 button{
    animation: theButton 2s infinite; 
}
hr{
    border: .5px solid lightslategray;
}
hr{
    border: .5px solid lightslategray;
}
footer {
    display: flex;
    background-color: white;
    justify-content: space-around; 
    height: 30%;
    width: 85%;
    font-size: 14px;
}
.smallTitle {
    font-size: 20px;
    font-family:'Quintessential', cursive;
    display: flex;
    justify-content: flex-start;
    font-weight: bold;
}
.list{
   list-style: none;
   display: flex;
   justify-content: center;
   flex-direction: column;
   background-color: white;
   padding: 20px; 
}
.item1{
    text-decoration: underline;
    font-weight: bold;
    text-align: center;
}
footer li {
    margin-bottom: 10px;
}
.list2{
   list-style: none;
   display: flex;
   justify-content: center;
   flex-direction: column;
   background-color: white;
   padding: 20px;
}
.item2 {
    text-decoration: underline;
    font-weight: bold;
    text-align: center;
}
.list3{
   list-style: none;
   display: flex;
   flex-direction: column;
   justify-content: center;
   background-color:white;
   padding: 20px;
}
.item3{
    text-decoration: underline;
    font-weight: bold;
    text-align: center;
}
.list4{
   list-style: none;
   display: flex;
   flex-direction: column;
   justify-content: center;
   background-color:white;
   padding: 20px;
   margin-right: 70px;
}
.item4{
    text-decoration: underline;
    font-weight: bold;
    text-align: center;
}

 @keyframes theButton {
    0% {
        opacity: 0;
        top: 100px;
    }
    75% {
        opacity: 0.5;
        top: 0px;
    }
    100% {
        opacity: 1;
 }
}
@media all and (max-width: 655px) {
    header {
        display: flex;
        flex-direction: column;
    }
    .nav {
        flex-direction: column;
        align-items: center;
    }
    .buttons {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        width: 100%;
    }
    .top{
        flex-direction: column;
    }
    footer{
        margin: 0px;
        padding: 0px;
        height: 3%;
        border-bottom: 1px solid black;
    }
    .list{
        display: none;
    }
    .list1{
        display: none;
    }
    .list2{
        display: none;
    }
    .list3{
        display: none;
    }
    .list4{
        display: none;
    }
    body{
        width: 100%;
    }
}

